<div ...attributes>
  Parent Component

  <ComponentChild
    {{did-insert this.onInsert this.configuration this.trackedConfiguration}}
    configuration={{this.configuration}}
    trackedConfiguration={{this.trackedConfiguration}}
    title="Title"
  />
</div>