<h1>CHILD COMPONENT TEST</h1>

<p>Use case: Parent Component creates a configuration. Child component receive this configuration via passed argument. When consuming it it is undefined.</p>

<div>
  <ComponentParent />
</div>